<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="message center  panel panel-primary">
          <div class="panel-heading">
            <center>
              <h1>Halaman tidak ditemukan</h1>
            </center>
          </div>
          <div class="panel-body">
              <center>
                <p>
                  Halaman yang anda cari tidak di temukan
                </p>
              </center>
          </div>
        </div>
      </div>
    </div>
</div>
