<div class="container" ng-controller="ctrlhome">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="message center  panel panel-primary">
          <div class="panel-heading">
            <center>
              <h1>{{name}}</h1>
              <p>
                {{title}}
              </p>
            </center>
          </div>
          <div class="panel-body">
              <p>
                {{message}}
                <center>
                  Buka console browser dan lihat
                  apa yang di config
                </center>
                <a  ng-click="set_local()" class="btn btn-primary">Set localstorage</a>
                <a  ng-href="/#@/home" class="btn btn-primary">home</a>
              </p>
          </div>
        </div>
      </div>
    </div>
</div>
